
body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
    font-family: 'Poppins', sans-serif;
    color: #333;
  }
  
  .hero h1 {
    font-size: 3rem;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  }
  
  .hero p {
    font-size: 1.25rem;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  }
  
  h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #222;
    margin-top: 1.5rem;
  }
  
  p {
    font-size: 1.1rem;
    color: #333;
  }
  
  .profile-img {
    border-radius: 50%;
    background-image: url('myApp/img/fundal_calatorie.jpg');
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
    border: 4px solid #000000;
    z-index: 1;
  }
  
  .card-custom {
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
  }
  
  .card-custom:hover {
    transform: translateY(-5px);
  }
  

  .btn-modern {
    border-radius: 30px;
  }
  

  .navbar-dark .navbar-nav .nav-link {
    color: #aaa2a2d7 !important;
    transition: color 0.3s ease, text-decoration 0.3s ease;
  }
  
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff !important;
    text-decoration: underline;
  }
  

  footer {
    text-align: center;
    padding: 30px;
    color: #999;
    font-size: 0.9rem;
  }
  